body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #750404, rgb(0, 0, 0));

    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-container, .sort-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.movie-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-item {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.movie-item h3 {
    margin: 0;
}

.movie-card p {
    margin: 5px 0;
}
